@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    box-sizing: border-box;
  }
  
  .box{
    display: flex;
    }
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    font-size: 140%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    font-size: 140%;
    float: right;
  }
  .navbar a.rightLo {
    font-size: 70%;
    float: right;
  }
  
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    margin-left: 40px;
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}
@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}
.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 300px;
    list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}
.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}
.product-photo img {
    width: initial;
    height: 80%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
    opacity: 0.8;
    cursor: pointer;
}.product-photo img:hover {
	opacity: 1;
}

p{
    text-align: center;
	position: relative;
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
	height: 5.6em;
	overflow: hidden;
}
p:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4.2em;
	height: 1.6em;
	background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}

.fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
}
.roundedFixedBtn{
    display: inline-block;	
    box-sizing: border-box;
    padding: 0 25px 0 25px;
    margin: 40px 80px 15px 30px;
    outline: none;
    border: 1px solid #6c757d; 
    border-radius: 26px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #6c757d;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;  
}