<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Врачи</title>
    <link rel="stylesheet" href="/css/doctor.css">
</head>
<body>

<div class="navbar">
    <a href="/homePage">Home</a>
    <a class="right">8 (912) 727-70-73</a>
    <a href="/login" class="right">Личный кабинет</a>
    <a href="/laboratory" class="right">Работа лабороторий</a>
    <a href="/doctor" class="right">Наши врачи</a>
</div>

<ul class="products clearfix">
    <li class="product-wrapper">
        <div class="product-photo">
            <img src="/pictures/1.1.webp" alt="Lights" >
        </div>
        <br>
           <p>Стасян</p>
    </li>
    <li class="product-wrapper">
        <div class="product-photo">
           <img src="/pictures/1.2.jpg" alt="" onclick="openImg(this);">
        </div>
        <br>
            <p>Стасян </p>
    </li>
    <li class="product-wrapper">
        <div class="product-photo">
           <img src="/pictures/1.33.jpg" alt="">
       </div>
       <br>
           <p>Стасян</p>
    </li>
    <li class="product-wrapper">
       <div class="product-photo">
           <img src="/pictures/1.4.jpg" alt="">
       </div>
        <br>
           <p>Стасян</p>
    </li>
    <li class="product-wrapper">
        <div class="product-photo">
           <img src="/pictures/1.5.jpg" alt="">
       </div>
       <br>
           <p>Стасян</p>
    </li>
    <li class="product-wrapper">
        <div class="product-photo">
            <img src="/pictures/1.6.jpg" alt="">
    </div>
    <br>
        <p>Стасян</p>
    </li>
    <li class="product-wrapper">
        <div class="product-photo">
            <img src="/pictures/1.7.jpg.crdownload" alt="">
        </div>
        <br>
            <p>Стасян</p>
    </li>
    <li class="product-wrapper">
        <div class="product-photo">
           <img src="/pictures/1.8.jpeg" alt="">
       </div>
       <br>
           <p>Стасян</p>
    </li>
</ul>


<a class="fixedButton" href>
    <div class="roundedFixedBtn"><i class="fa fa-phone"> Вызвать скорую</i></div>
</a>
</body>
</html>
