<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Деддомик</title>
    <link rel="stylesheet" href="/css/homePage.css">
    <script defer src="/js/homePage.js"></script>
</head>
<body>

<div class="navbar">
    <a href="/homePage">Home</a>
    <a class="right">8 (912) 727-70-73</a>
    <a href="/login" class="right">Личный кабинет</a>
    <a href="/laboratory" class="right">Работа лабороторий</a>
    <a href="/doctor" class="right">Наши врачи</a>
</div>
<br>
<br>
<a class="fixedButton" href>
    <div  class="roundedFixedBtn"><i class="fa fa-phone"> Вызвать скорую</i></div>
</a>

<!-- Основной блок слайдера -->
<div class="slider">

    <!-- Первый слайд -->
    <div class="item">
        <img src="/pictures/1.png">
    </div>

    <!-- Второй слайд -->
    <div class="item">
        <img src="/pictures/2.jpg">
        <span>Лучшие койки Питера</span>
    </div>

    <!-- Третий слайд -->
    <div class="item">
        <img src="/pictures/3.jpg">
    </div>

    <!-- Третий слайд -->
    <div class="item">
        <img src="/pictures/4.jpg">
    </div>

    <!-- Кнопки-стрелочки -->
    <a class="previous" onclick="previousSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
</div>
<!--<div class="form_auth_block">-->
<!--    <div class="form_auth_block_content">-->
<!--        <p font-size="120 px" >Нам доверяю более 12 часов</p>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="sposs">-->
<!--    <a><img src="/pictures/SS.jpg"   width="550" height="480" align="top" />  А что писать ?-->
<!--</div></as>-->
<!--</div>-->


</body>
</html>