<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="navbar">
    <a href="/homePage">Home</a>
    <a class="right">8 (912) 727-70-73</a>
    <a href="/hospital/login" class="right">Личный кабинет</a>
    <a href="/laboratory" class="right">Работа лабороторий</a>
    <a href="/doctor" class="right">Наши врачи</a>
</div>
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Авторизация</p>
        <form class="form_auth_style"   action="/login"  method="POST">
            <input  type="text" name="username" placeholder=" Имя пользователя" required >
            <br>
            <input type="password" placeholder="Пароль"  name="password"  required >
            <p>
                <a  href="/lostPassword" class="form_auth_block_text"><u>Забыли пароль? </u></a></p>
            <a href="/"><button class="form_auth_button" type="submit"   name="form_auth_submit">Войти</button></a>
            <p>
                <a class="form_auth_block1_text">Нет аккаунта?</a><a  href="/registration" class="form_auth_block1_text">Зарегистрируйтесь</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>