<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Врачи</title>
    <link rel="stylesheet" href="/css/homePage.css">
</head>
<body>

<div class="navbar">
    <a href="/homePage">Home</a>
    <a class="right">8 (912) 727-70-73</a>
    <a href="/login" class="right">Личный кабинет</a>
    <a href="/laboratory" class="right">Работа лабороторий</a>
    <a href="/doctor" class="right">Наши врачи</a>
</div>
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p font-size="120 px" >Очень жаль</p>
    </div>
</div>
</body>
</html>